﻿/* RESET */

html, body 

{ margin:0; padding:0; border:0; background:transparent; font-size:10px; }

div, span, article, aside, footer, header, hgroup, nav, section, h1, h2, h3, h4, h5, h6,
p, blockquote, a, ol , ul, li, table, tr, th, td, tbody, tfoot, thead

{ margin:0; padding:0; border:0; vertical-align:baseline; background:transparent }

img

{ margin:0; padding:0; border:0; }


table, tr, th, td, tbody, tfoot, thead

{ margin:0; padding:0; border:0; vertical-align:baseline; background:transparent }

table

{ border-collapse:collapse; border-spacing:0; }

input, select, textarea, form, fieldset

{ margin:0; padding:0; border:0; }

article, aside, dialog, figure, footer, header, hgroup, nav, section

{ display:block; }

h1, h2, h3, h4, h5, h6, p, blockquote, li, td, th, a, caption, em, strong, strike

{ font-family:Arial, Helvetica, sans-serif; font-size:100%; font-weight:normal; font-style:normal;
line-height:100%; text-indent:0; text-decoration:none; text-align:left; color:#000; }

ol, ul

{ list-style:none; }

/* GLOBAL */

html {}
body { background-color:#C8FC9A;  }

/* HEADINGS */

h1, h2, h3, h4, h5, h6

{ font-weight:bold; color:#000; }

h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:16px; }
h4 { font-size:14px; }
h5 { font-size:14px; }
h6 { font-size:14px; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img

{ margin:0; }

/* TEXT-ELEMENTS */

p { color:#000; font-size:12px; line-height:150%; }
p.left { margin:1.5em 1.5em 1.5em 0; padding:0; }
p.right { margin:1.5em 0 1.5em 1.5em; padding:0; }
a {}
a:link { color:#00f;  }
a:visited { color:#0f0;  }
a:active { color:#000;  }
a:focus { color:#666;  }
a:hover { color:#f00;  }

blockquote { color:#000; font-size:12px; }
strong { font-weight:bold;  }
em { font-style:italic; }

/* IMAGES */

/* LISTS */

ul {}
ol { list-style-type:decimal; }

ul li { color:#000; font-size:12px; }
ol li { color:#000; font-size:12px; }

dl {}
dt {}
dd {}

/* TABLES */

table { width:100%; }
tr {}
.odd { background-color:#eee; }
.even { background-color:#fff; }
th { font-weight:bold; }
thead,th  { background:#ccc; }
tbody {}
th, td, caption {}
caption {}
tfoot {}
.tfooter { background-color:#ccc; text-align:center; font-style:italic; }
caption { background-color:#efefef; }

/* MISC */

sup, sub { line-height:0; }
abbr, acronym { border-bottom: 1px dotted #666; }
address {}
del { background:FFCECE; color:#f00; }
code, pre { background-color:#FF9; padding:2px 0px; margin:4px 25px; font-family:"Courier New", Courier, monospace; font-size:12px; }

.copyright-text { font-size:80%; font-style:italic; color:#333; }
.footer-text { font-size:80%; font-style:normal; color:#666; }

.title { font-size:18px; font-weight:bold; color:#333; }
.subtitle { font-size:14px; font-style:italic; color:#333; }

.artist { font-size:16px; font-weight:bold; color:#333; }
.author { font-size:14px; font-weight:bold; color:#555; }
.editor { font-size:14px; font-style:italic; color:#555; }

.pub-date { font-size:10px; font-style:italic; color:#555; }
.article-date { font-size:10px; font-style:italic; color:#555; }
.location { font-size:10px; font-style:italic; color:#555; }

float.left { float:left; }
float.right { float:right; }
clear { clear:both; }

.hide { display:none; }
.block { display:block; }
.inline { display:inline; }

.first { font-weight:bold; }
.last { font-weight:bold; }
.left { font-weight:bold; text-align:left; }
.right { font-weight:bold; text-align:right; }

.added { background:#D7D7FF; }
.removed { background:#FFCECE; color:#f00; }
.changed { background:#FFB; }

/* CONTAINERS */

#wrapper { width:900px; margin:0 auto; background-color:#96F83F }

#top { background-color:#80F617; width:100%; padding:20px 0; overflow:hidden; }

#logo { margin: 0 0 0 10px; float:left; }

#social-media { float:right; margin: 0 10px 0 0; }
#social-media p { color:#000000; font-size:11px; margin:4px 10px 4px 0px; }
#social-media img { width:30px; height:30px; }
#social-media ul li { display:inline; }

#topnav { background-color:#555555; clear:both; }
#topnav ul { width:100%; float:left; margin:0px; background-color:#555555; /* border-bottom:3px #CCCCCC solid; */ }
#topnav ul li { display:inline; }
#topnav ul li a { float:left; padding:10px 20px; }

#topnav a:link { color:#FFFFFF; }
#topnav a:visited { color:#FFFFFF; }
#topnav a:active { color:#FFFFFF; }
#topnav a:hover { color:#FFFFFF; background-color:#770000; }
#topnav a:focus { color:#FFFFFF; }

#banner { margin:0px }

#subbanner { width:100%; background-color:#555555; padding:15px 0; overflow:hidden; }
#subbanner h3 { color:#FFFFFF; font-size:16px; font-style:italic; font-weight:bold; text-align:center; line-height:180%; }
#subbanner h4 { color:#FFFFFF; font-size:16px; font-style:italic; font-weight:bold; text-align:center; line-height:180%; }


#content-wrapper {}

#leftnav {}

#leftside {}

#rightside {}

#content { padding:20px; }
#content h1 { margin:0 0 20px 0; font-size:32px; }
#content p { margin:16px 0; line-height:160%; }
#content h2 { margin:20 0 0 0; }

#video { border:5px solid #555555; width:640px; margin:10px;}

#footer { clear:both; background-color:#555555; padding:10px 0; }
#footer p { text-align:center; color:#FFFFFF; }

#box1 {}
#box2 {}
#box3 {}
#box4 {}
#box5 {}

/* FORMS */

form

{ text-align:left; margin:20px; }

label, submit, input, textarea

{ border:0; padding:0; margin:0; backround:none; }

label

{ float:left; width:150px; text-align:right; display:block; }

input, textarea

{ border:1px #333 solid; margin-left:10px; }

input

{ width:280px; margin-bottom:16px; }

textarea

{ width:280px; height:150px; margin-bottom:16px; }

select {}

.submit

{ width:90px; height:25px; margin-left:150px; font-size:12px; }

br

{ clear:left; }
